:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* color palette */
  --color-1: 249, 239, 219;
  --color-2: 235, 217, 180;
  --color-3: 157, 188, 152;
  --color-4: 99, 136, 137;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(var(--color-1), 0.5);
}
body {
  min-height: 100vh;
}